/* banner styles */
.main-color {
    color: #289bde;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.button {
    color: white;
    background-color: #289bde;
    font-size: 20px;
    padding: 13px 33px;
    border: none;
    border-radius: 8px;
}

/* Institute Explore */
.institute-explore-bg {
    background-color: #f4fafd;
}

/* join section  */
.join-bg {
    background-color: #289bde;
}

.reg-btn {
    color: #289bde;
    background-color: white;
    font-size: 20px;
    padding: 13px 33px;
    border: none;
    border-radius: 8px;
}

.small-text-color {
    color: #b3d7f6;
}

/* student feedback */
.slid-arrow-bg {
    background-color: #e5f7ff;
}